# sbt specific files
wikipages/target/
wikipages/lib_managed/
wikipages/src_managed/
wikipages/project/target/
wikipages/project/project/
wikipages/.bsp/

# IntelliJ IDEA
wikipages/.idea/
wikipages/*.iws
wikipages/*.iml
wikipages/*.ipr
wikipages/out/

# Eclipse
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.localstore
/.recommenders

# Scala-IDE specific
wikipages/.scala_dependencies
wikipages/.worksheet

# Temporary files created by Eclipse
wikipages/.classpath
wikipages/.project
wikipages/.settings/

# Compiled class file
wikipages/*.class

# Log file
wikipages/*.log

# Other IDEs and Editors
.c9/
.project
*.tmproj
*.tmproject
.tern-port
*.codekit-cache
codekit-cache
__reloader.pid
.reloader
.spyderproject
.spyproject
*.py[cod]
*.cover
.cache
.vscode/
.ionide/
.atom/
.tern-port
*.pdm
*.coverage
.coverage.*
/.vs/
.vscode/
.vscode-oss/
code-oss
*.js.map
*.ipynb
*.idea
*.iml
*.sublime*
*.tmTheme
*.tmTheme-editor
*.tmTheme-new
*.tmTheme-sublime
.sublime/
.tern-project
.idea_modules
.tmproj

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jar


